providers = ["node"]

[variables]
NIXPACKS_NODE_VERSION = "18"
NODE_VERSION = "18"

[phases.install]
cmds = [
  "npm install --include=optional"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "npm run preview"
